.card {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card--full {
	width: 100%;
}

.title {
	font-size: 1.2rem;
	color: #a2a4ab;
	text-align: left;
	margin-left: 14px;
}

.badges {
	height: 50px;
}

.progress {
	width: calc(100% - 16px);
	padding-left: 8px;
}