/* ion-content {
  --background: #fff;
  display: flex;
  align-items: center;
}

ion-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ion-text {
  color: #000;
  display: inline-block;
}

ion-card {
  --background: #fff;
} */
