/* ion-content {
  --background: #fff;
  display: flex;
  align-items: center;
}

ion-card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ion-text {
  color: #000;
  display: inline-block;
}

ion-card {
  --background: #fff;
} */

ion-content {
  margin-top: 20px;
  /* --background: #f00; */
}

ion-text {
  font-size: 24px;
  text-align: center;
  margin: auto;
}

ion-grid {
  /* background-color: #f00; */
  display: flex;
  /* flex: 1; */
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.textRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

ion-row {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
}

ion-button {
  width: 100px;
}

ion-icon {
  --color: #fff;
  --background: #fff;
  color: #fff;
}
